.create-order-page {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}
.order-products {
    width: 100%;
}
.order-data {
    width: 25rem;
    min-width: 25rem;
    padding-right: 2.5rem;
    border-right: 1px solid var(--divider-line);
}
.order-data__input-block-title {
    color: var(--text-600);
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
}
.order-data__input-block-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.order-products__title {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
}
.end-button-block {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5rem;
}
.end-button-block__button {
    width: 140px;
}