.order-data__copy-button {
    border-color: var(--input-border-color);
    width: 42px;
    height: 42px;
}
.order-data__copy-button img {
    min-width: 24px;
}
.order-data__adress-input-tooltip {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.order-data__adress-input-tooltip-button {
    pointer-events: all;
}