.order-data__copy-button {
    border-color: var(--input-border-color);
    width: 42px;
    height: 42px;
}
.order-data__copy-button:hover {
    color: invert(100%);
    background-color: var(--button-color);
}
.order-data__copy-button:hover svg path {
    stroke: white;
}
.order-data__copy-button svg {
    min-width: 24px;
}
div:has(.order-data__adress-input-tooltip) {
    min-width: fit-content;
}
.order-data__adress-input-tooltip {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.order-data__adress-input-tooltip-button {
    pointer-events: all;
}